In [1]:
import pandas as pd
import numpy as np

In [4]:
FilePath = r'practice.xlsx'
o_df = pd.read_excel(FilePath,sheetname="销售记录")

In [6]:
o_df.head()

    记录ID   客户编号                收银时间  销售金额 销售类型
0  23351  10006 2009-09-27 20:10:22  58.0   特价
1  23372  30031 2009-09-27 21:33:35  69.0   特价
2  23447  40102 2009-09-28 21:12:34  69.0   特价
3  23448  20173 2009-09-28 21:12:34  69.0   特价
4  23449  40017 2009-09-28 21:13:48  69.0   特价

In [7]:
normal_data = o_df[o_df.销售类型 == "正常"]

In [8]:
normal_data.head()

    记录ID   客户编号                收银时间  销售金额 销售类型
5  23464  30132 2009-09-28 21:37:42  81.0   正常
6  23465  20145 2009-09-28 21:40:53  60.0   正常
7  23466  30087 2009-09-28 21:45:17  72.0   正常
8  23467  20102 2009-09-28 21:46:54  51.0   正常
9  23469  40051 2009-09-28 21:51:02  60.0   正常

In [9]:
normal_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15867 entries, 5 to 26660
Data columns (total 5 columns):
记录ID    15867 non-null int64
客户编号    15867 non-null int64
收银时间    15867 non-null datetime64[ns]
销售金额    15867 non-null float64
销售类型    15867 non-null object
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 743.8+ KB

In [20]:
import datetime
normal_data["收银日期"] = pd.to_datetime(normal_data["收银时间"],format="%Y-%m-%d")

C:\Users\zheng\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [21]:
normal_data.head()

    记录ID   客户编号                收银时间  销售金额 销售类型                收银日期
5  23464  30132 2009-09-28 21:37:42  81.0   正常 2009-09-28 21:37:42
6  23465  20145 2009-09-28 21:40:53  60.0   正常 2009-09-28 21:40:53
7  23466  30087 2009-09-28 21:45:17  72.0   正常 2009-09-28 21:45:17
8  23467  20102 2009-09-28 21:46:54  51.0   正常 2009-09-28 21:46:54
9  23469  40051 2009-09-28 21:51:02  60.0   正常 2009-09-28 21:51:02

In [39]:
normal_data.iloc[:5,2]

5   2009-09-28 21:37:42
6   2009-09-28 21:40:53
7   2009-09-28 21:45:17
8   2009-09-28 21:46:54
9   2009-09-28 21:51:02
Name: 收银时间, dtype: datetime64[ns]

In [49]:
for i in range(len(normal_data)):
    normal_data.iloc[i,5] =normal_data.iloc[i,2].date()

C:\Users\zheng\Anaconda3\lib\site-packages\pandas\core\indexing.py:477: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [48]:
normal_data.iloc[1,2].date()

datetime.date(2009, 9, 28)